<!DOCTYPE html>
<html lang="en">
<%- include('partials/_header') -%>
<link rel="stylesheet" href="styles.css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Participating Districts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <div id="map" style="height: 800px;"></div>
    <script>
const map = L.map('map', {
  minZoom: 7, // Set the minimum zoom level to 5
  maxBounds: L.latLngBounds(
    L.latLng(39.2868132,-80.5645942), // Southwest bound
    L.latLng(43.667105, -70.2939151) // Northeast bound
  )
}).setView([39.9601662, -76.717791], 10);


L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

//attribution
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://ytech.edu">York County School of Technology</a>, Trey Floto'
}).addTo(map);

//york tech popup
var marker = L.marker([39.9302254,-76.6869776]).addTo(map)
    .bindPopup("York County School of Technology")
    .openPopup();

/*
var popup = L.popup()
    .setLatLng([39.9302254,-76.6869776])
    .setContent("York County School of Technology")
    .openOn(map);
*/
// Add the York County GeoJSON layer for York County
let geojson1;
try {
  geojson1 = JSON.parse('<%- JSON.stringify(geojson1) %>');
} catch (error) {
  console.error(error);
}
if (geojson1) {
  L.geoJSON(geojson1, {
    style: function(feature) {
      return {
        color: '#095540', // green outline
        weight: 5 //LEAVE THIS AT 5 PIXELS, IT IS THE MAIN BORDER
      };
    }
  }).addTo(map);
}

// Add the GeoJSON layer for York City School District
let geojson2;
try {
  geojson2 = JSON.parse('<%- JSON.stringify(geojson2) %>');
} catch (error) {
  console.error(error);
}
if (geojson2) {
  L.geoJSON(geojson2, {
    style: function(feature) {
      return {
        color: '#ef7a2d', // orange outline
        weight: 3 // 3-pixel outline width
      };
    },
    onEachFeature: function(feature, layer) {
      layer.bindPopup("York City School District");
    }
  }).addTo(map);
}

// Add the GeoJSON layer for York Suburban school District
let geojson3;
try {
  geojson3 = JSON.parse('<%- JSON.stringify(geojson3) %>');
} catch (error) {
  console.error(error);
}
if (geojson3) {
  L.geoJSON(geojson3, {
    style: function(feature) {
      return {
        color: '#f26424', // orange outline
        weight: 3 // 3-pixel outline width
      };
    }
  }).addTo(map);
}

// Add the GeoJSON layer for West York area school District
let geojson4;
try {
  geojson4 = JSON.parse('<%- JSON.stringify(geojson4) %>');
} catch (error) {
  console.error(error);
}
if (geojson4) {
  L.geoJSON(geojson4, {
    style: function(feature) {
      return {
        color: '#0A2360', // navy outline
        weight: 3 // 3-pixel outline width
      };
    }
  }).addTo(map);
}

// Add the GeoJSON layer for Central York School District
let geojson5;
try {
  geojson5 = JSON.parse('<%- JSON.stringify(geojson5) %>');
} catch (error) {
  console.error(error);
}
if (geojson5) {
  L.geoJSON(geojson5, {
    style: function(feature) {
      return {
        color: '#e99034', // yellow outline
        weight: 3 // 3-pixel outline width
      };
    }
  }).addTo(map);
}

// Add the GeoJSON layer for Dallastown Area School District
let geojson6;
try {
  geojson6 = JSON.parse('<%- JSON.stringify(geojson6) %>');
} catch (error) {
  console.error(error);
}
if (geojson6) {
  L.geoJSON(geojson6, {
    style: function(feature) {
      return {
        color: '#072a79', // blue outline
        weight: 3 // 3-pixel outline width
      };
    }
  }).addTo(map);
}

// Add the GeoJSON layer for Spring Gove Area School District
let geojson7;
try {
  geojson7 = JSON.parse('<%- JSON.stringify(geojson7) %>');
} catch (error) {
  console.error(error);
}
if (geojson7) {
  L.geoJSON(geojson7, {
    style: function(feature) {
      return {
        color: '#003087', // blue outline
        weight: 3 // 3-pixel outline width
      };
    }
  }).addTo(map);
}

// Add the GeoJSON layer for Red Lion Area School District
let geojson8;
try {
  geojson8 = JSON.parse('<%- JSON.stringify(geojson8) %>');
} catch (error) {
  console.error(error);
}
if (geojson8) {
  L.geoJSON(geojson8, {
    style: function(feature) {
      return {
        color: '#fecd30', // yellow outline
        weight: 3 // 3-pixel outline width
      };
    }
  }).addTo(map);
}
    </script>
</body>
<%- include('partials/_footer') -%>
</html>

