<html>
    <%- include('partials/_header') -%>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title><%- pageTitle -%> - YCST</title>
    </head>

    <body>
    <div class="text-container">
    <center>
        <h1 class="Temph1"><%- pageTitle -%></h1>
      
            <div id="tempVideo">
            
            </div>
       
        
        <%- pageInfo -%>
    </center>
    </div>
        
    </body>
    
    <%- include('partials/_footer') -%>

    <script>
        const videoDiv = document.getElementById("tempVideo")
        const node = document.createElement('video')
        const sourceVid = document.createElement('source')
        const vidPath = <%- JSON.stringify(pageVideo) %>

        if (vidPath.toLowerCase != "null") {
            setAttributes(node, {"controls": "controls"})
            setAttributes(sourceVid, {"src": vidPath, "type": "video/mp4"})
            node.appendChild(sourceVid)
            videoDiv.appendChild(node)
        }

        function setAttributes(el, attrs) {
            Object.keys(attrs).forEach(key => el.setAttribute(key, attrs[key]));
        }
    </script>
</html>